# Build
build/
.gradle/
run/
graphify-out/
*.class

# Logs
*.log

# Linux system files
.bashrc
.fehbg
.fluxbox/
.foxrc/
.jwmrc-numix-square
.runit/
.sudo_as_admin_successful
.agents/

# Build logs
build_logs*/
build_logs*.zip
logs*/
logs*.zip
job_log.txt
sh20fklogs*.zip

# Temp/misc
com/
META-INF/
nul
Dump.java
*.jpg
*.png
!src/main/resources/assets/p3/textures/hud/*.png
